.CartContainer {
    margin-bottom: 10px;
    padding:10px
}

.CartWrapper{
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 10px;
    padding:10px
}

.MinusButton{
    margin-top: 6px;
    border: 0px;
    border-radius: 4px;
    width: 30px;
    height:30px;
    background-color: rgb(255, 56, 73);
    color: white;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
}

.PlusButton{
    margin-top: 6px;
    border: 0px;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(56, 192, 255);
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
}
